* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: rgb(250, 247, 247);
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-bottom: 100px;
    position: sticky;
    top: 0;
  }
  nav header{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: #156f8e;
    margin-right: auto;
    margin-left: -140px;
}

  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
  
  nav div img {
      width: 30%;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #156f8e;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
  }
  
  nav ul li a:hover {
    color: #20dad8;
    border-bottom: 1px solid #20dad8;
  }

  body{
    background-image: url(Assets/alatmedis.jpg);
  }

  footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif ;
    background-color: #ffffff;
    color: #156f8e;
    padding: 20px;
    text-align: center;
  }

  /*Konsultasi styles*/
  .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    margin-bottom: 220px;
  }
  
  .container:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .left{
    background: url("Assets/dokter\ 3.jpg") no-repeat center;
    background-size: cover;
    border-radius: 30px;
    margin-left: 20px;
    height: 90%;
  }
  
  .right{
    padding: 25px 40px;
  }
  
  h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    font-family:"Poppins", sans-serif;
  }
  
  h2:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #20dad8;
  }
  
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }
  
  button[type="submit"]{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #20dad8;
    font-family: "Poppins", sans-serif;
    color: #131111;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
  }
  
  button[type="submit"]:hover{
      background-color: #156f8e;
      color: #fff;
  }
  
  .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }
  
  @media screen and (max-width: 880px){
    .contact-box{
      grid-template-columns: 1fr;
    }
    .left{
      height: 200px;
    }
  }

  .scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: #20dad8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .scroll-to-top i {
    font-size: 20px;
  }
  
  .scroll-to-top:hover {
    background-color: #333;
  }
  .scroll-to-top {
    width: 30px;
    height: 30px;
  }

  .scroll-to-top i {
    font-size: 16px;
  }