* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

nav {
  background-color: rgb(250, 247, 247);
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}
nav header{
  display: flex;
  justify-self: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #156f8e;
  margin-right: auto;
  margin-left: -140px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
    width: 30%;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #156f8e;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: #20dad8;
  border-bottom: 1px solid #20dad8;
}

body{
  background-image: url(Assets/alatmedis.jpg);
}

.container{
  width: 60%;
  background-color: #093ea5;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 20px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Poppins" ,sans-serif;
  box-shadow: 15px 15px #161616;
}
.container i{
  float: left;
  position: relative;
  margin-left: 20px;
}
.container h1{
  padding: 2rem;
}
video{
  height: 500px;
  width: 800px;
  margin: 0 auto;
  background-color: black;
  border-radius: 40px;
  box-shadow: 15px 15px #093ea5;
}
.vid{
  width: 100%;
  display: flex;
  border-radius: 20px;
  height: 50%;
  margin-right: 20px;
  margin-bottom: 120px;  
}
footer{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif ;
  background-color: #ffffff;
  color: #156f8e;
  padding: 20px;
  text-align: center;
}
.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #20dad8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.scroll-to-top i {
  font-size: 20px;
}

.scroll-to-top:hover {
  background-color: #333;
}
.scroll-to-top {
  width: 30px;
  height: 30px;
}

.scroll-to-top i {
  font-size: 16px;
}
